<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <button class="btn btn-success"><i class="bi bi-search"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="vehicle-make-carousel">
            <div class="item-group">
                <div class="item-group-card" *ngFor="let item of vehicleMakes">
                    <img [src]="'data: image/png; base64,'+item.imageBase64" alt="" />
                </div>
            </div>
            <div aria-hidden class="item-group">
                <div class="item-group-card" *ngFor="let item of vehicleMakes">
                    <img [src]="'data: image/png; base64,'+item.imageBase64" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row vehicle-makes-images">
    <div class="d-flex">
        <div class="p-2" *ngFor="let item of vehicleMakes">
            <img class="img-fluid" [src]="'data: image/png; base64,'+item.imageBase64" alt="" />
        </div>
    </div>
</div> -->
<div class="row">
    <div class="d-flex">
        <div class="p-2" *ngFor="let item of bodyTypes">
            {{item.description}}
        </div>
    </div>
</div>
<a [routerLink]="['/vehicle/get']">click here</a>